.house-card {
    width: 100%;
    max-width: 300px;
    padding: 1.3rem 1.5rem;
    /* margin: 1rem; */

    /* background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15); */
    background: rgba(20, 20, 30, 0.45);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    color: white;
    font-family: "SF Pro Display", system-ui;
}

/* Titulo dominante */
.house-card-title {
    font-size: 1.3rem;
    margin: 0;
    font-weight: 600;
}

/* Precio MUY destacado */
.house-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0.2rem 0 0.6rem 0;
}

/* Grupos de info compactos */
.house-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem 1rem;
    padding: 0.6rem;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.house-group p {
    margin: 0;
    font-size: 0.8rem;
    color: #ffffff;
}

.house-group strong {
    font-weight: 500;
    color: #ffffff;
}

.delete-button{
    margin: 10px 0;
    padding: 12px 22px;
    border: none;
    border-radius: 14px;
    background: linear-gradient(135deg, #aa2126, #e000d5);
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(142, 45, 226, 0.4);
    backdrop-filter: blur(8px);
    transition: 0.3s ease;
    z-index: 40;
}

.update-button{
    margin: 10px 0 0 0;
    padding: 12px 22px;
    border: none;
    border-radius: 14px;
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(142, 45, 226, 0.4);
    backdrop-filter: blur(8px);
    transition: 0.3s ease;
    z-index: 40;
}

.image-card{
    border-radius: 12px;
    min-width: 16rem;
    min-height: 16rem;
    max-width: 16rem;
    max-height: 16rem;
    object-fit: cover;
}

.image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel-btn {
    position: relative;
    height: 2rem;
    background: rgba(231, 231, 231, 0.796);
    color: white;
    border: none;
    padding: 0.4rem 0.7rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.8rem;
    transition: 0.2s ease;
}

.carousel-btn:hover {
    background: rgba(0, 0, 0, 0.7);
}

.carousel-btn.left {
    left: 17px;
}

.carousel-btn.right {
    right: 17px;
}