body {
    background-color: var(--gray-100);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.logo-wp{
    position: fixed;
    right: 1.2rem;
    bottom: 5.5rem;
    width: 5rem;
    height: auto;
    z-index: 2;
    cursor: pointer;
}

.logo-wp:hover {
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .logo-wp{
        position: fixed;
        right: 1.2rem;
        bottom: 5.2rem;
        width: 4rem;
        height: auto;
    }
}
